#header .card, #header .formulario {
  border: 2px solid #99a3a4;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3); }

#menu {
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  #menu .navbar-brand img {
    width: 160px;
    height: 60px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  #menu .navbar-collapse .nav-item a.nav-link {
    color: #FFFFFF;
    font-size: 18pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #menu .navbar-collapse .nav-item a.nav-link:hover {
      border: 1px solid #c0392b;
      border-radius: 10px;
      font-size: 16pt; }

#header {
  width: 100%;
  height: 665px;
  background-image: url("https://images.pexels.com/photos/1370296/pexels-photo-1370296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }
  #header .card {
    position: absolute;
    left: 10%;
    top: 200px;
    height: 300px;
    width: 500px;
    color: #FFFFFF;
    font-size: 15pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .card:hover {
      border-color: #c0392b; }
    #header .card .card-text {
      border-top: 2px solid #99a3a4;
      -webkit-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #header .card:hover {
      border-color: #c0392b; }
      #header .card:hover .card-text {
        border-top: 2px solid #c0392b; }
  #header .formulario {
    position: absolute;
    right: 8%;
    width: 400px;
    height: 500px;
    top: 15%;
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .formulario form {
      padding: 30px 30px 10px 30px;
      font-family: "Source Sans Pro", sans-serif; }
      #header .formulario form .form-group {
        justify-content: center; }
        #header .formulario form .form-group label {
          font-size: 18pt; }
        #header .formulario form .form-group input, #header .formulario form .form-group textarea {
          display: inline-block;
          align-self: center;
          text-align: center;
          background: #1a5276;
          border-color: #99a3a4;
          color: #FFFFFF;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #header .formulario form .form-group input:focus, #header .formulario form .form-group textarea:focus {
            background: #2980b9;
            border-color: #FFFFFF;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6); }
          #header .formulario form .form-group input::placeholder, #header .formulario form .form-group textarea::placeholder {
            color: #FFFFFF; }
      #header .formulario form button.btn {
        color: #FFFFFF;
        background-color: #1a5276;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #header .formulario form button.btn:hover {
          background-color: #c0392b; }
    #header .formulario:hover {
      border-color: #c0392b; }

#contenido {
  background-color: #1a5276; }

/*# sourceMappingURL=main.css.map */
