#header .card, #header .formulario {
  border: 2px solid #99a3a4;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px #FFFFFF; }
  #header .card:hover, #header .formulario:hover {
    border-color: #0a2885;
    box-shadow: 5px 5px 20px #0a2885;
    -webkit-transform: translate(-5px);
    -ms--transform: translate(-5px);
    -moz--transform: translate(-5px);
    -o--transform: translate(-5px);
    -transform: translate(-5px); }

#menu {
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Montserrat" sans-serif; }
  #menu .navbar-brand img {
    width: 160px;
    height: 60px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  #menu .navbar-collapse .nav-item a.nav-link {
    color: #FFFFFF;
    font-size: 18pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #menu .navbar-collapse .nav-item a.nav-link:hover {
      -webkit-animation: onda 2s;
      -ms-animation: onda 2s;
      -moz-animation: onda 2s;
      -o-animation: onda 2s;
      animation: onda 2s; }

#header {
  width: 100%;
  height: 665px;
  background-image: url("https://images.pexels.com/photos/1370296/pexels-photo-1370296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center; }
  #header .card {
    position: absolute;
    left: 8%;
    top: 200px;
    height: 300px;
    width: 500px;
    color: #FFFFFF;
    font-size: 15pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .card .card-text {
      border-top: 2px solid #FFFFFF;
      -webkit-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  #header .formulario {
    position: absolute;
    right: 8%;
    width: 400px;
    height: 500px;
    top: 15%;
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .formulario form {
      padding: 30px 30px 10px 30px;
      font-family: "Source Sans Pro", sans-serif; }
      #header .formulario form .form-group {
        justify-content: center; }
        #header .formulario form .form-group label {
          font-size: 18pt; }
        #header .formulario form .form-group input, #header .formulario form .form-group textarea {
          display: inline-block;
          align-self: center;
          text-align: center;
          background: #1a5276;
          border-color: #99a3a4;
          color: #FFFFFF;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #header .formulario form .form-group input:focus, #header .formulario form .form-group textarea:focus {
            background: #2980b9;
            border-color: #FFFFFF;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6); }
          #header .formulario form .form-group input::placeholder, #header .formulario form .form-group textarea::placeholder {
            color: #FFFFFF; }
      #header .formulario form button.btn {
        color: #FFFFFF;
        background-color: #1a5276;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #header .formulario form button.btn:hover {
          background-color: #c0392b; }
  #header .verAbajo {
    position: relative;
    color: #FFFFFF;
    top: 90%;
    text-align: centerz; }

#contenido {
  background-color: #FFFFFF;
  font-family: "Titillium Web", sans-serif; }
  #contenido .card {
    text-align: center;
    box-shadow: 5px 5px 10px #99a3a4;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #contenido .card .card-body h5 {
      height: 90px;
      text-transform: uppercase; }
    #contenido .card img {
      border-bottom: 3.5px solid; }
      #contenido .card img.color1 {
        border-color: red; }
      #contenido .card img.color2 {
        border-color: blue; }
      #contenido .card img.color3 {
        border-color: green; }
    #contenido .card:hover {
      box-shadow: 2px 2px 5px #99a3a4; }
  #contenido h1 {
    font-size: 40pt;
    margin-top: 50px; }
  #contenido p {
    font-size: 16pt; }

#porque {
  margin-top: 80px; }
  #porque h1 {
    margin-bottom: 30px; }
  #porque .contenedor .icono {
    padding: 8px;
    font-size: 35pt; }
    #porque .contenedor .icono i {
      border-radius: 50%;
      background-color: #f4f6f6; }

/*# sourceMappingURL=main.css.map */
