@keyframes parpadeo {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
#header .card, #header .formulario {
  border: 2px solid #99a3a4;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px #FFFFFF; }
  #header .card:hover, #header .formulario:hover {
    border-color: #0a2885;
    box-shadow: 5px 5px 20px #0a2885;
    -webkit-transform: translate(-5px);
    -ms--transform: translate(-5px);
    -moz--transform: translate(-5px);
    -o--transform: translate(-5px);
    -transform: translate(-5px); }

#contenedor {
  background-color: #154360;
  width: 100%;
  height: 100%;
  position: fixed;
  border: 3px solid #e5392b;
  -webkit-transition: all 2s;
  -ms-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  z-index: 10000; }
  #contenedor #carga {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: parpadeo 2s linear infinite;
    -ms-animation: parpadeo 2s linear infinite;
    -moz-animation: parpadeo 2s linear infinite;
    -o-animation: parpadeo 2s linear infinite;
    animation: parpadeo 2s linear infinite;
    text-align: center; }
    #contenedor #carga img {
      width: 370px; }
    #contenedor #carga h3 {
      color: #FFFFFF;
      font-family: sans-serif; }

#menu {
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Montserrat" sans-serif; }
  #menu .navbar-brand img {
    width: 160px;
    height: 60px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  #menu .navbar-collapse .nav-item a.nav-link {
    color: #FFFFFF;
    font-size: 18pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #menu .navbar-collapse .nav-item a.nav-link:hover {
      -webkit-animation: onda 2s;
      -ms-animation: onda 2s;
      -moz-animation: onda 2s;
      -o-animation: onda 2s;
      animation: onda 2s; }

#header {
  width: 100%;
  height: 665px;
  background-image: url("https://images.pexels.com/photos/1370296/pexels-photo-1370296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center; }
  #header .card {
    position: absolute;
    left: 8%;
    top: 200px;
    height: 300px;
    width: 500px;
    color: #FFFFFF;
    font-size: 15pt;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .card .card-text {
      border-top: 2px solid #FFFFFF;
      -webkit-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  #header .formulario {
    position: absolute;
    right: 8%;
    width: 400px;
    height: 500px;
    top: 15%;
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #header .formulario form {
      padding: 30px 30px 10px 30px;
      font-family: "Source Sans Pro", sans-serif; }
      #header .formulario form .form-group {
        justify-content: center; }
        #header .formulario form .form-group label {
          font-size: 18pt; }
        #header .formulario form .form-group input, #header .formulario form .form-group textarea {
          display: inline-block;
          align-self: center;
          text-align: center;
          background: #1a5276;
          border-color: #99a3a4;
          color: #FFFFFF;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #header .formulario form .form-group input:focus, #header .formulario form .form-group textarea:focus {
            background: #2980b9;
            border-color: #FFFFFF;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6); }
          #header .formulario form .form-group input::placeholder, #header .formulario form .form-group textarea::placeholder {
            color: #FFFFFF; }
      #header .formulario form button.btn {
        color: #FFFFFF;
        background-color: #1a5276;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #header .formulario form button.btn:hover {
          background-color: #e5392b; }
  #header .verAbajo {
    position: relative;
    color: #FFFFFF;
    top: 90%;
    text-align: center; }

#formPeque {
  display: none; }

@media screen and (max-width: 667px) {
  #header {
    margin: auto; }
    #header .card {
      margin: auto;
      left: 0;
      top: 150px;
      width: 100%;
      height: 350px; }
      #header .card .card-title {
        font-size: 12pt; }
      #header .card .card-text {
        font-size: 10pt; }
    #header .formulario {
      display: none; }

  #formPeque {
    display: block; }
    #formPeque .formulario {
      border-bottom: 3px solid #1a5276; }
      #formPeque .formulario form {
        padding: 30px 30px 10px 30px;
        font-family: "Source Sans Pro", sans-serif;
        text-align: center; }
        #formPeque .formulario form .form-group {
          justify-content: center; }
          #formPeque .formulario form .form-group label {
            font-size: 18pt; }
          #formPeque .formulario form .form-group input, #formPeque .formulario form .form-group textarea {
            display: inline-block;
            align-self: center;
            text-align: center;
            background: #1a5276;
            border-color: #99a3a4;
            color: #FFFFFF;
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            #formPeque .formulario form .form-group input:focus, #formPeque .formulario form .form-group textarea:focus {
              background: #2980b9;
              border-color: #FFFFFF;
              box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6); }
            #formPeque .formulario form .form-group input::placeholder, #formPeque .formulario form .form-group textarea::placeholder {
              color: #FFFFFF; }
        #formPeque .formulario form button.btn {
          color: #FFFFFF;
          background-color: #1a5276;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #formPeque .formulario form button.btn:hover {
            background-color: #e5392b; } }
@media screen and (max-width: 1024px) and (min-width: 667px) {
  #header .card {
    margin: auto;
    top: 150px;
    left: 10px;
    width: 350px;
    height: 350px; }
    #header .card .card-title {
      font-size: 12pt; }
    #header .card .card-text {
      font-size: 10pt; }
  #header .formulario {
    top: 10%;
    right: 10px;
    width: 350px; }
  #header .verAbajo {
    left: -20%; } }
#contenido {
  background-color: #FFFFFF;
  font-family: "Titillium Web", sans-serif; }
  #contenido .card {
    text-align: center;
    box-shadow: 5px 5px 10px #99a3a4;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #contenido .card .card-body h5 {
      height: 90px;
      text-transform: uppercase; }
    #contenido .card img {
      border-bottom: 3.5px solid; }
      #contenido .card img.color1 {
        border-color: red; }
      #contenido .card img.color2 {
        border-color: blue; }
      #contenido .card img.color3 {
        border-color: green; }
    #contenido .card:hover {
      box-shadow: 2px 2px 5px #99a3a4; }
  #contenido h1 {
    font-size: 40pt;
    margin-top: 50px; }
  #contenido p {
    font-size: 16pt; }

#porque {
  margin-top: 80px;
  text-align: center; }
  #porque .row {
    margin-bottom: 50px; }
    #porque .row:hover .icono, #porque .row:hover img {
      box-shadow: 0px 0px 10px #99a3a4; }
  #porque h1 {
    margin-bottom: 30px; }
  #porque img {
    margin: auto;
    max-width: 500px;
    height: 300px;
    box-shadow: -2px -2px 8px #99a3a4;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
  #porque .contenedor {
    vertical-align: center; }
    #porque .contenedor .icono {
      padding: 8px;
      text-align: center;
      box-shadow: 0px 2px 2px #99a3a4;
      -webkit-transition: all 0.65s;
      -ms-transition: all 0.65s;
      -moz-transition: all 0.65s;
      -o-transition: all 0.65s;
      transition: all 0.65s; }
      #porque .contenedor .icono h2 {
        border-bottom: 2px solid; }
        #porque .contenedor .icono h2.color1 {
          border-color: red; }
        #porque .contenedor .icono h2.color2 {
          border-color: blue; }
        #porque .contenedor .icono h2.color3 {
          border-color: green; }
      #porque .contenedor .icono p {
        font-size: 18spt; }
      #porque .contenedor .icono i {
        font-size: 35pt;
        border-radius: 50%;
        background-color: #f4f6f6; }

#actividades {
  margin-bottom: 80px; }
  #actividades h1 {
    margin: 50px 0px 50px 0px; }
  #actividades .carousel {
    box-shadow: 0px 0px 10px #99a3a4; }
    #actividades .carousel span {
      text-shadow: 1px 1px 2px #99a3a4;
      color: red;
      background-color: #99a3a4; }
      #actividades .carousel span:hover {
        background-color: #000000; }
    #actividades .carousel .carousel-control-prev-icon, #actividades .carousel .carousel-control-next-icon {
      border-color: red;
      box-shadow: 1px 1px 2px #99a3a4;
      color: red; }
    #actividades .carousel .carousel-inner .carousel-item {
      text-align: center; }
      #actividades .carousel .carousel-inner .carousel-item img {
        margin: auto;
        max-height: 350px; }

#footer {
  background-color: #2c3e50;
  padding: 50px;
  color: #FFFFFF;
  text-align: center; }
  #footer #nosotros {
    margin-bottom: 50px; }
    #footer #nosotros a, #footer #nosotros a:link, #footer #nosotros a:active, #footer #nosotros a:visited {
      color: #FFFFFF;
      -webkit-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      display: block; }
    #footer #nosotros a.whatsapp:hover {
      color: #25d366; }
    #footer #nosotros a.facebook:hover {
      color: #3b5998; }
    #footer #nosotros a.messenger:hover {
      color: #0084ff; }
    #footer #nosotros a:hover {
      background-color: #FFFFFF;
      padding: 20px; }
    #footer #nosotros a.btn {
      margin: auto;
      margin-top: 30px;
      margin-bottom: 15px;
      background-color: #e5392b; }
  #footer #llegar h2 {
    margin-top: 30px;
    margin-bottom: 50px; }
  #footer #llegar iframe {
    width: 100%;
    height: 350px;
    margin: auto; }
  #footer #llegar p {
    font-size: 15pt;
    margin-top: 20px; }
    #footer #llegar p span {
      font-weight: bold; }

#docentes .jumbotron {
  background-image: url("https://images.pexels.com/photos/716276/pexels-photo-716276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF; }

#personal {
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); }
  #personal .col-md-4 {
    padding: 50px; }

/*# sourceMappingURL=main.css.map */
